<ion-view view-title="Video Window">
  <ion-content scroll="false" >
    <div id='videos'>
      <video id="local-video" class='localVideo' autoplay mute></video>
      <div id='status-message'>
        <rtcomm-endpoint-status></rtcomm-endpoint-status>
      </div>
      <video id="remote-video" class='remoteVideo' autoplay></video>
      <div id="control-buttons" class="row">
        <div class="col" style="text-align:center">
         <button class="button icon round-button ion-ios-telephone {{sessionStarted?'button-assertive':'button-balanced'}}" ng-click="sessionAction()"></button>
        </div>
        <div class="col" style="text-align:center">
         <button class="button icon round-button ion-ios-mic-off"></button>
        </div>
      <div> 
  </div>
  </ion-content>
 <!-- align to the bottom of the page -->
</ion-view>
