<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.ionicframework.tabs109204" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>sample.rtcomm.mobile</name>
  <description>
        An Ionic Framework and Cordova project.
    </description>
  <author email="swgraham@us.ibm.com" href="http://ionicframework.com/">
    IBM
    </author>
  <content src="index.html"/>
  <access origin="*"/>
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="android-minSdkVersion" value="16"/>
  <preference name="BackupWebStorage" value="none"/>
  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>
  <platform name="ios" >
    <hook type="after_platform_add" src="hooks/after_platform_add/iosrtc-swift-support.js" />
  </platform>
</widget>
